In [1]:
%fs cp dbfs:/FileStore/tables/LoanStats_2018Q4.csv file:/tmp/LoanStats_2018Q4.csv

In [2]:
import pandas as pd
import databricks.koalas as ks

In [3]:
# loan_data = pd.read_csv("file:/tmp/LoanStats_2018Q4.csv", encoding= 'unicode_escape')
loan_data = ks.read_csv("dbfs:/FileStore/tables/LoanStats_2018Q4.csv")

In [4]:
loan_data.head(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,None,None,10000,10000,10000.0,36 months,10.33%,324.23,B,B1,None,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-18,Current,n,None,None,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,Jan-96,0,18.0,NaN,14,0,9082,38%,23,w,9279.39,9279.39,964.08,964.08,720.61,243.47,0.0,0.0,0.0,Apr-19,324.23,Apr-19,Apr-19,0,NaN,1,Individual,NaN,NaN,None,0,671,246828,1,3,2,3,1,48552,62.0,1,3,4923,46,23900,2,7,1,7,17631,11897,43.1,0,0,158,275,11,1,1,11,NaN,11,NaN,0,3,4,7,7,10,9,11,4,14,0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,None,None,None,NaN,NaN,None,None,None,NaN,NaN,None,NaN,NaN,NaN,N,None,None,None,NaN,NaN,NaN
1,None,None,9600,9600,9600.0,36 months,12.98%,323.37,B,B5,None,n/a,MORTGAGE,35704.0,Not Verified,Dec-18,Current,n,None,None,home_improvement,Home improvement,401xx,KY,0.84,0,Nov-03,0,69.0,NaN,5,0,748,11.50%,23,w,8934.25,8934.25,994.35,994.35,665.75,328.60,0.0,0.0,0.0,Apr-19,323.37,May-19,Apr-19,0,NaN,1,Individual,NaN,NaN,None,0,0,748,0,0,0,0,44,0,NaN,0,3,748,12,6500,0,0,1,3,150,3452,17.8,0,0,181,100,13,13,0,16,NaN,3,NaN,0,1,1,2,2,16,5,7,1,5,0,0,0,0,95.5,0.0,0,0,6500,748,4200,0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,None,None,None,NaN,NaN,None,None,None,NaN,NaN,None,NaN,NaN,NaN,N,None,None,None,NaN,NaN,NaN
2,None,None,4000,4000,4000.0,36 months,23.40%,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,Dec-18,Current,n,None,None,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0,Sep-06,4,59.0,NaN,15,0,5199,19.20%,20,w,3762.39,3762.39,459.24,459.24,237.61,221.63,0.0,0.0,0.0,Apr-19,155.68,Apr-19,Apr-19,0,NaN,1,Individual,NaN,NaN,None,0,0,66926,5,4,3,4,5,61727,86.0,6,11,1353,68,27100,4,0,4,15,4462,20174,7.9,0,0,147,118,2,2,0,2,NaN,0,NaN,0,5,7,9,9,8,11,12,7,15,0,0,0,9,95.0,0.0,0,0,98655,66926,21900,71555,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,None,None,None,NaN,NaN,None,None,None,NaN,NaN,None,NaN,NaN,NaN,N,None,None,None,NaN,NaN,NaN
3,None,None,2500,2500,2500.0,36 months,13.56%,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,Dec-18,Current,n,None,None,debt_consolidation,Debt consolidation,109xx,NY,18.24,0,Apr-01,1,NaN,45.0,9,1,4341,10.30%,34,w,2328.06,2328.06,251.94,251.94,171.94,80.00,0.0,0.0,0.0,Apr-19,84.92,Apr-19,Apr-19,0,NaN,1,Individual,NaN,NaN,None,0,0,16901,2,2,1,2,2,12560,69.0,2,7,2137,28,42000,1,11,2,9,1878,34360,5.9,0,0,140,212,1,1,0,1,NaN,2,NaN,0,2,5,3,3,16,7,18,5,9,0,0,0,3,100.0,0.0,1,0,60124,16901,36500,18124,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,None,None,None,NaN,NaN,None,None,None,NaN,NaN,None,NaN,NaN,NaN,N,None,None,None,NaN,NaN,NaN
4,None,None,30000,30000,30000.0,60 months,18.94%,777.23,D,D2,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,Dec-18,Current,n,None,None,debt_consolidation,Debt consolidation,713xx,LA,26.52,0,Jun-87,0,71.0,75.0,13,1,12315,24.20%,44,w,29074.35,29074.35,2284.34,2284.34,925.65,1358.69,0.0,0.0,0.0,Apr-19,777.23,Apr-19,Apr-19,0,NaN,1,Individual,NaN,NaN,None,0,1208,321915,4,4,2,3,3,87153,88.0,4,5,998,57,50800,2,15,2,10,24763,13761,8.3,0,0,163,378,4,3,3,4,NaN,4,NaN,0,2,4,4,9,27,8,14,4,13,0,0,0,6,95.0,0.0,1,0,372872,99468,15000,94072,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,None,None,None,NaN,NaN,None,None,None,NaN,NaN,None,NaN,NaN,NaN,N,None,None,None,NaN,NaN,NaN

In [5]:
loan_data['loan_status'].value_counts()

In [6]:
ks.set_option('display.max_rows', 50)

In [7]:
ld_sel = loan_data[['loan_amnt', 'grade', 'term', 'loan_status']]

In [8]:
ld_sel['loan_status'].value_counts()

In [9]:
ld_sel.groupby('grade').agg({'grade':'count'})

,grade
grade,
F,387
NaN,0
E,5962
B,35861
D,17072
C,31018
A,38011
G,101

In [10]:
ld_sel.groupby('grade').agg({'grade':'count'})/ld_sel['grade'].count()

,grade
grade,
F,0.003014
NaN,0.000000
E,0.046429
B,0.279265
D,0.132947
C,0.241551
A,0.296008
G,0.000787

In [11]:
ld_tmp=ks.concat([ld_sel.groupby('grade').agg(grade_count=('grade', 'count')),
                  ld_sel.groupby('grade').agg(grade_perct=('grade','count'))/ld_sel['grade'].count()], axis=1)

In [12]:
ld_tmp.head()

,grade_count,grade_perct
grade,,
F,387.0,0.003014
NaN,0.0,NaN
NaN,NaN,0.000000
E,5962.0,0.046429
B,35861.0,0.279265

In [13]:
ld_tmp.reset_index()

,grade,grade_count,grade_perct
0,F,387.0,0.003014
1,None,0.0,NaN
2,None,NaN,0.000000
3,E,5962.0,0.046429
4,B,35861.0,0.279265
5,D,17072.0,0.132947
6,C,31018.0,0.241551
7,A,38011.0,0.296008
8,G,101.0,0.000787

In [14]:
ks.sql("SELECT * FROM {ld_tmp} WHERE grade_count > 300")

,grade_count,grade_perct
0,387,0.003014
1,5962,0.046429
2,35861,0.279265
3,17072,0.132947
4,31018,0.241551
5,38011,0.296008

In [15]:
ld_tmp.sort_index()

,grade_count,grade_perct
grade,,
A,38011.0,0.296008
B,35861.0,0.279265
C,31018.0,0.241551
D,17072.0,0.132947
E,5962.0,0.046429
F,387.0,0.003014
G,101.0,0.000787
NaN,0.0,NaN
NaN,NaN,0.000000

In [16]:
ld_tmp.sort_values(by='grade_perct ')

,grade_count,grade_perct
grade,,
NaN,NaN,0.000000
G,101.0,0.000787
F,387.0,0.003014
E,5962.0,0.046429
D,17072.0,0.132947
C,31018.0,0.241551
B,35861.0,0.279265
A,38011.0,0.296008
NaN,0.0,NaN

In [17]:
import numpy as np

In [18]:
ld_tmp.apply(np.sum)

In [19]:
ld_tmp=ld_tmp.dropna()

In [20]:
display(ld_tmp)

,grade_count,grade_perct
grade,,
F,387,0.003014
E,5962,0.046429
B,35861,0.279265
D,17072,0.132947
C,31018,0.241551
A,38011,0.296008
G,101,0.000787

In [21]:
ld_tmp.apply(lambda x: x*2)

,grade_count,grade_perct
grade,,
F,774,0.006027
E,11924,0.092857
B,71722,0.558530
D,34144,0.265894
C,62036,0.483101
A,76022,0.592016
G,202,0.001573

In [22]:
def multiply(x) -> ks.Series[np.float64]:
  return x*2

In [23]:
ld_tmp.apply(multiply)

,grade_count,grade_perct
0,34144.0,0.265894
1,774.0,0.006027
2,11924.0,0.092857
3,71722.0,0.558530
4,202.0,0.001573
5,76022.0,0.592016
6,62036.0,0.483101

In [24]:
display(ld_tmp.plot.bar())